.git
.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/public/*
public/storage
bootstrap/cache/*.php

tests
phpunit.xml
coverage
.phpunit.result.cache

.idea
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db

README*
scripts
